*{
    margin: 0;
}

html, body {
    background-color: #f6f6f6;
}

body {
    margin: 0;
    padding: 0;
    max-width: 1200px;
    margin: auto;
}

.flex-container{
    display: flex;
}

img{
    max-width: 50px;
    object-fit: contain;
}

.app-title {
    padding: 1rem;
}

.sr-only {
    display: block;
    margin: auto;
}