<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="./manifest.webmanifest" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon-16x16.png"
    />
    <link
      rel="mask-icon"
      href="/assets/safari-pinned-tab.svg"
      color="#ffa300"
    />
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <meta name="apple-mobile-web-app-title" content="diddly-do" />
    <meta name="application-name" content="diddly-do" />
    <meta name="msapplication-TileColor" content="#ffa300" />
    <meta name="msapplication-config" content="/assets/browserconfig.xml" />
    <meta name="theme-color" content="#ffa300" />

    <!-- CSS imports -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/main.css" />
    <script src="./js/idb-keyval.js"></script>

    <script>
      if ("serviceWorker" in navigator && "SyncManager" in window) {
        navigator.serviceWorker
          .register("./sw.js")
          .then((registration) => navigator.serviceWorker.ready)
          .then((registration) => {
            document.getElementById("submit").addEventListener("click", () => {
              registration.sync.register("new-Task").then(() => {
                var payload = {
                  name: document.getElementById("name").value,
                };
                idbKeyval.set("sendTask", payload);
              });
            });
          });
      }
    </script>

    <title>diddly-do</title>
  </head>

  <body>
    <div id="offline"></div>

    <!-- vue app -->
    <div id="app">

      <!-- Title -->
      <div class="title-div ml-3 ml-sm-4">
        <div class="flex-container">
          <img src="./assets/android-chrome-192x192.png" alt="">
          <h1 class="app-title">diddly-do</h1>

        </div>
        <h4>Das Todo-App von Flanders</h4>
      </div>

      <!-- Navbar -->
      <nav class="navbar navbar-expand-sm navbar-light bg-light ml-sm-2" style="background-color: #f6f6f6 !important;">
        <button
          class="navbar-toggler "
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button
                type="button"
                @Click="order = 'asc'"
                class="btn btn-secondary"
              >
                open
              </button>
              <button
                type="button"
                @Click="order = 'desc'"
                class="btn btn-secondary"
              >
                done
              </button>
            </div>
          </div>
        </div>
      </nav>
      <!-- Form-Field -->
      <div class="container-fluid">
        <form class="form-inline my-3 ">
          <input
            id="name"
            name="name"
            class="form-control ml-sm-2 mr-sm-1"
            type="text"
            placeholder="Add"
            aria-label="Add"
            v-model="newTask"
          />
          <button
            id="submit"
            type="button"
            @Click.prevent="addTask"
            class="btn btn-success form-control mt-1 mt-sm-0 mb-3 mb-sm-0"
          >
            add
          </button>
          <input
            class="form-control ml-sm-4 mr-sm-1"
            type="search"
            placeholder="Search"
            aria-label="Search"
            v-model="search"
          />
          <button type="button" @Click="search = ''" class="btn btn-danger form-control mt-1 mt-sm-0 mb-3 mb-sm-0">
            X
          </button>
        </form>
      </div>

      <!-- list -->
      <div v-if="!tasks" class="d-flex justify-content-center">
        <div class="spinner-border text-secondary my-3" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div v-else v-for="item in tasks" class="list-group mx-0 ml-xl-4">
        <button
          type="button"
          v-bind:class="getClass(item.status)"
          data-toggle="modal"
          data-target="#exampleModal"
          @Click="task = item"
        >
          {{item.name}}
        </button>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Change task</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input
                class="form-control mr-sm-2"
                type="input"
                aria-label="Rename"
                v-model="task.name"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-success"
                @Click="completeTask"
                data-dismiss="modal"
              >
                Complete task
              </button>
              <button
                type="button"
                class="btn btn-danger"
                @Click="removeTask"
                data-dismiss="modal"
              >
                Remove task
              </button>
              <button
                type="button"
                class="btn btn-primary"
                @Click="editTask"
                data-dismiss="modal"
              >
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JS Scripts -->
    <script src="/reload/reload.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./js/App.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
